@font-face {
    font-family: 'GoogleSansRegular';
    src: url('assets/fonts/GoogleSansRegular.eot');
    src: url('assets/fonts/GoogleSansRegular.eot') format('embedded-opentype'),
         url('assets/fonts/GoogleSansRegular.woff2') format('woff2'),
         url('assets/fonts/GoogleSansRegular.woff') format('woff'),
         url('assets/fonts/GoogleSansRegular.ttf') format('truetype'),
         url('assets/fonts/GoogleSansRegular.svg#GoogleSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GoogleSansMedium';
    src: url('assets/fonts/GoogleSansMedium.eot');
    src: url('assets/fonts/GoogleSansMedium.eot') format('embedded-opentype'),
         url('assets/fonts/GoogleSansMedium.woff2') format('woff2'),
         url('assets/fonts/GoogleSansMedium.woff') format('woff'),
         url('assets/fonts/GoogleSansMedium.ttf') format('truetype'),
         url('assets/fonts/GoogleSansMedium.svg#GoogleSansMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GoogleSansBold';
    src: url('assets/fonts/GoogleSansBold.eot');
    src: url('assets/fonts/GoogleSansBold.eot') format('embedded-opentype'),
         url('assets/fonts/GoogleSansBold.woff2') format('woff2'),
         url('assets/fonts/GoogleSansBold.woff') format('woff'),
         url('assets/fonts/GoogleSansBold.ttf') format('truetype'),
         url('assets/fonts/GoogleSansBold.svg#GoogleSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LemonTuesday';
    src: url('assets/fonts/LemonTuesday.eot');
    src: url('assets/fonts/LemonTuesday.eot') format('embedded-opentype'),
         url('assets/fonts/LemonTuesday.woff2') format('woff2'),
         url('assets/fonts/LemonTuesday.woff') format('woff'),
         url('assets/fonts/LemonTuesday.ttf') format('truetype'),
         url('assets/fonts/LemonTuesday.svg#LemonTuesday') format('svg');
    font-weight: normal;
    font-style: normal;
}